$base-color-yellow: #eedc00;
$base-color-blue: #76c3d4;
$base-font-family: "Asap", sans-serif;

.total-wrapper {
  background-color: $base-color-yellow;
  font-family: $base-font-family;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
  p {
    font-style: italic;
    margin: 0;
    padding: 0;
    span {
      font-size: 30px;
    }
  }
  .checkout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
      width: 40%;
      text-align: center;
      padding: 10px;
      background-color: #76c3d4;
      text-decoration: none;
      border-radius: 5px;
      color: white;
      transition: background 0.3s;
      text-shadow: 0 -1px 0 #eedc00;
      &:hover {
        background-color: #0dbee6;
        color: #eedc00;
        text-shadow: 0 -1px 0 white;
      }
    }
  }
}
