$base-color-blue: #76c3d4;
$base-color-yellow: #eedc00;
$base-color-dark-green: rgb(8, 41, 47);
$base-font-family: "Asap", sans-serif;
$medium: 768px;
$small: 576px;
.latest-info-wrapper {
  background-color: #76c3d4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: $base-font-family;
  text-transform: uppercase;
  font-size: 35px;
  div:first-child {
    font-size: 7.5rem;
    margin-right: 40px;
  }
  div:last-child {
    border-left: 2px solid #fff;
    padding-left: 40px;
    input {
      width: 350px;
      font-size: 20px;
      border-radius: 4px;
      padding: 2px 10px;
      outline: none;
      border: none;
      color: rgba(15, 9, 9, 0.678);
      &::placeholder {
      }
    }
    button {
      margin-left: 20px;
      padding: 2px 15px;
      text-transform: uppercase;
      font-size: 20px;
      border-radius: 4px;
      border: none;
      background-color: #eedc00;
      transition: background-color 0.2s, color 0.2s;
      &:hover {
        background-color: #fff;
        color: #eedc00;
      }
    }
    .mailing-list-msg {
      background-color: #eedc00;
      width: 350px;
      padding: 5px 10px;
      font-size: 13px;
    }
  }
}

@media (max-width: $medium) {
  .latest-info-wrapper {
    div:first-child {
      font-size: 5.5rem;
      margin-right: 25px;
    }
    div:last-child {
      h3 {
        font-size: 20px;
      }
      padding-left: 25px;
      input {
        width: 280px;
        font-size: 18px;
      }
      button {
        margin-left: 18px;
        padding: 2px 13px;
        font-size: 18px;
      }
      .mailing-list-msg {
        background-color: #eedc00;
        width: 280px;
        margin-top: 3px;
        padding: 5px 10px;
        font-size: 13px;
      }
    }
  }
}
@media (max-width: $small) {
  .latest-info-wrapper {
    div:first-child {
      font-size: 4rem;
      margin-right: 15px;
    }
    div:last-child {
      h3 {
        font-size: 16px;
      }
      padding-left: 15px;
      input {
        width: 150px;
        font-size: 12px;
      }
      button {
        margin-left: 14px;
        padding: 0 10px;
        font-size: 15px;
      }
      .mailing-list-msg {
        background-color: #eedc00;
        width: 150px;
        margin-top: 3px;
        padding: 4px 10px;
        font-size: 10px;
      }
    }
  }
}
@media (max-width: 350px) {
  .latest-info-wrapper {
    padding: 10px 0;
    div:first-child {
      font-size: 3.3rem;
      margin-right: 13px;
    }
    div:last-child {
      h3 {
        font-size: 14px;
      }
      padding-left: 13px;
      input {
        width: 130px;
        font-size: 12px;
      }
      button {
        margin-left: 8px;
        padding: 0 8px;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 280px) {
  .latest-info-wrapper {
    padding: 10px 0;
    div:first-child {
      font-size: 2.8rem;
      margin-right: 10px;
    }
    div:last-child {
      h3 {
        font-size: 13px;
      }
      padding-left: 10px;
      input {
        width: 120px;
        font-size: 11px;
      }
      button {
        margin-left: 5px;
        padding: 0 7px;
        font-size: 13px;
      }
    }
  }
}
