.alert-box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .success {
    display: none;
  }
  .successVis {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: visible;
  }